html {
  font-family: Roboto, sans-serif;

  --accent-color: #00acdc;
}

body {
  margin: 0;
}

.header {
  display: flex;
  background-color: #fff;

  justify-content: space-between;
  padding-inline: 50px;
  align-items: center;
}

.logo {
  display: block;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  margin-left: 20px;

  display: flex;
  align-items: center;

  /* display: inline-block;
  align-content: center; */

  height: 60px;

  text-decoration: none;

  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0%;

  /* for text to not wrap */
  min-width: max-content;
}

.nav__link:hover {
  color: var(--accent-color);
}

.nav__item:first-child > .nav__link {
  margin-left: 0;
}

.nav__link.is-active {
  position: relative;
  color: var(--accent-color);
}

.nav__link.is-active::after {
  content: '';
  background-color: var(--accent-color);
  position: absolute;

  height: 4px;
  border-radius: 2px;

  width: 100%;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
}

/* [data-qa='hover'] {
  color: var(--accent-color);
} */

/*
  Let my first try be messy
*/
